* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6;
}

p {
  margin-bottom: 20px;
}

/* .section {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
} */

a:hover {
  cursor: pointer;
}

.face-image,
.mnroots-image {
  display: block;
  margin: 0 auto;
  width: 50%;
  border: 5px #ff9a8b solid;
  border-radius: 10px;
}

.certificate-image {
  display: block;
  margin: 0 auto;
  width: 25%;
  border: 1px solid black;
  border-radius: 5px;
}

.header {
  background: linear-gradient(to right, #ff998a 0%, #c2bb5a 25%, #3cd399 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Times New Roman", Times, serif;
  text-transform: lowercase;
  font-size: 3rem;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

.icon {
  height: 3.5rem;
  opacity: 80%;
}

.skill-icons,
.cert-paragraph {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.try-button {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

/* NAVIGATION BAR */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #e2e2e2;
  color: #000;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  z-index: 1000;
}

.nav-about {
  background-color: #c2bb5a;
}

.nav-projects {
  background-color: #3cd399;
}

.nav-contact {
  background-color: #ff998a;
}

/* PROJECT CARDS */

.project-card {
  margin: 20px auto;
  padding: 10px;
  width: 350px;
  height: 100%;
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  position: relative;
}

.card-image {
  width: 100%;
  height: 290px;
  border: 5px solid #e2e2e2;
  border-radius: 10px;
  opacity: 80%;
}

/* FORM FOR CONTACT ME */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.section {
  padding: 60px 20px;
  margin-top: 50px;
  background: #f4f4f4;
}

@media (width >= 768px) {
  .card-container {
    display: flex;
  }

  /*PUTS MINNESOTAROOTS.JPG TO RIGHT OF ABOUTME TEXT... BUT THEN TOP PIC LOOKS WEIRDLY SMALL / PAGE LOOKS OFF-BALANCE?*/
  /* .about-me-section {
    display: flex;
    margin-right: 7rem;
    flex-direction: row-reverse;
  } */

  .about-me-text {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .face-image {
    width: 20%;
  }

  .mnroots-image {
    width: 20%;
  }
  /* 
  img {
    width: 12rem;
  } */

  .work-together {
    text-align: center;
  }

  .header {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  button:hover {
    border: 1px solid #f4f4f4;
    cursor: pointer;
  }

  button:active {
    box-shadow: inset 19px 19px 38px #bebebe, inset -19px -19px 38px #ffffff;
  }

  /* .card-image:hover {
    opacity: 0.6;
    transition-duration: 0.5s;
  } */
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: #e2e2e2;
  }
  hr {
    color: white;
  }
  .section {
    background-color: #555;
  }
  .navbar {
    background-color: #333;
  }
  button {
    border: none;
    color: #f4f4f4;
  }

  .project-card {
    border: 2px solid #777;
  }
}
